.person-form {
  display: flex;
  flex-direction: column;

  &__heart {
    padding: 0 0.2rem;
    animation: heartbeat 1s infinite;
  }

  &__section {
    gap: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__section-title {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 1em;
    color: var(--grey-800);
  }

  &__label {
    display: block;
    align-items: center;
    color: var(--grey-800);
    font: caption;
  }

  &__inputs {
    display: grid;
    grid-template: 5rem 5rem 5rem / min-content min-content min-content;
    grid-template-areas:
      "gender gender gender"
      "activity activity activity"
      "age weight height";
    width: 100%;
    justify-items: center;
    align-items: center;
    row-gap: 0.8rem;
    column-gap: 0.8rem;
  }

  &__gender {
    grid-area: gender;
  }

  &__activity {
    grid-area: activity;
  }

  &__age {
    grid-area: age;
  }

  &__weight {
    grid-area: weight;
  }

  &__height {
    grid-area: height;
  }

  &_flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &_flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &_gap-1 {
    gap: 1rem;
  }

  &_gap-2 {
    gap: 2rem;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 386px) {
  .person-form__inputs {
    grid-template: 5rem 5rem 5rem 5rem / max-content max-content;
    grid-template-areas:
      "gender gender"
      "activity activity"
      "age weight"
      "height height";
  }
}
